*,{
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("/fonts/rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}
html{
  font-size: 10px;
}

body{
  background-color: #f2f2f2;
  margin: auto;
  line-height: 3rem;
}

.dark-theme {
  background-color: #5D6268;
  color: #f2f2f2;

}

.navbar {
  font-size: 18px;
  background-color: #5D6268;
  color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  z-index: 999;
  position: sticky;
  top: 0;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 2rem;
}

ul{
    margin-bottom: 0;
}

.nav-links{
  font-family: "Montserrat Regular"
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

a:hover {
  color: #302D38;
}

.logo {
  display: inline-block;
  width: 3rem;
  margin-top: 1rem;
  margin-left: 20px;
}


.navbar-toggle {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.nav-links:hover{
   color: #302D38;
}

.active {
  display: block;
}



/*

.menu {
  font-size: 3rem;
}

.topnav {
  background-color: #5D6268;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  padding: 1.5rem;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 1.6rem 1.6rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: #5D6268;
}

.topnav .icon {
  display: none;
}

ul{
  flex: 1;
  margin-bottom: 0;
}

.icon {
    flex: 1;
    text-align: center;
}

.active {
  flex: 1;
  margin-left: 2rem;
}

.logo {
  max-width: 10%;
  margin: 0 auto;
}

.moon {
  max-width: 10%;
  margin: 0 auto;
}

.nav-theme-icon {
  text-align: center;
  flex: 1;
}
NAV BAR */

p {
  color: #5D6268;
}


h4 {
  color: #302D38;
}

li {
  color: #5D6268;
}


.headers  {
  font-family: "Rubik Regular";
  font-size: 3.6rem;
}

.para {
  font-family: "Montserrat Regular";
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}


.container.bio, .container.tools {
  border-bottom: 1px solid #302D38;
}


.about-image {
  max-width: 100%;
  margin-top: 20%;
  filter: none;
}

.about-image.greyscale{
  filter: grayscale(1);
}


.indent {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}


.links{
  text-decoration: none;
  display: inline;
}


.tools{
  text-align: left;
}

.left-padding{
  padding-left:  5rem;
}


@media (min-width:60rem) {
/*  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: flex;
  }

.topnav {
    align-items:baseline;
  }

.topnav.responsive {display: flex;}
.topnav.responsive a.icon {
  display: flex 1;
}

.topnav.responsive a {
  float: none;
  display: flex;
  flex: 100%;
  flex-direction: column;
}*/
.navbar {
   display: flex;
   justify-content: space-between;
   padding-bottom: 0;
   height: 70px;
   align-items: center;
 }

 .main-nav {
   display: flex;
   margin-right: 30px;
   flex-direction: row;
   justify-content: flex-end;
 }

 .hamburger-menu{
   font-size: 3rem;
 }

 .main-nav li {
   margin: 0;
 }

 .nav-links {
   margin-left: 40px;
 }

 .logo {
   margin-top: 0;
   width: 3rem;
 }

 .navbar-toggle {
   display: none;
 }

 .logo:hover,
 .nav-links:hover {
   color: #302D38;
 }
}
@media (max-width:60rem) {
.indent {
  width: 100%;
  margin-top: 10%;
  margin-bottom:10%;
}

.tools {
  text-align: center;
}

.headers { font-size: 2.4rem;
}

.para {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.left-padding{
  padding-left:  0rem;
}

.section.d{
  text-align: center;
}

.links {text-align: center;}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}
}
