*,{
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("/fonts/rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

html{
  font-size: 10px;
}

body{
  background-color: #f2f2f2;
  margin: auto;
  line-height: 3rem;
}

.footer{
  padding-top: : 3%;
  color: #5D6268;
  font-size: 4.6rem;
}


/* Navagation */

.navbar {
  background-color: #5D6268;
  border: 1px solid #5D6268;
  color: #f2f2f2;
  font-size: 1.8rem;
  z-index: 999;
  position: sticky;
  top: 0
}

.main-nav {
  display: none;
  list-style-type: none;
}

.nav-links,
.logo {
  color: #f2f2f2;
  font-family: "Montserrat Regular";
  font-size: 2rem;
  text-decoration: none;
}

ul{
  margin-bottom: 0;
}

.main-nav li {
  color: #302D38;
  margin: 1.5rem auto;
  text-align: center;
}

a:hover {
  color: #302D38;
}

.hamburger-menu:hover{
  color: #302D38;
}

.logo {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 3rem;
}

.navbar-toggle {
  position: absolute;
  display: inline;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  color: #F2F2F2;
  font-size: 24px;
  position: absolute;
}

.active {
  display: block;
}

p {
  color: #5D6268;
}


h4 {
  color: #302D38;
}

li {
  color: #5D6268;
}


.headers  {
  color: #5D6268;
  font-family: "Rubik Regular";
  font-size: 3.6rem;
}

.para {
  font-family: "Montserrat Regular";
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.spacing {
  margin-top: 2%;
  margin-bottom: 2%;
}


.container.bio, .container.tools {
  border-bottom: 1px solid #302D38;
}


.about-image {
  max-width: 100%;
  margin-top: 10%;
  filter: none;
}

.about-image.greyscale{
  filter: grayscale(1);
}


.indent {
  margin: 0 auto;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 2%;
}


.connect-link{
  text-decoration: none;
  display: inline;
  font-size: 2.4rem;
  font-family: "Montserrat Regular";
  color:#5D6268;
  margin-right: 1rem;
}

.links:hover{
    color: #302D38;
}


.tools{
  text-align: left;
}

.left-padding{
  padding-left:  5rem;
}


@media (min-width:60rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 5rem;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .hamburger-menu{
    font-size: 3rem;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    width: 3rem;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #302D38;
  }
}

@media (max-width:60rem) {
.indent {
  width: 100%;
}

.tools {
  text-align: center;
}

.headers { font-size: 2.4rem;
}

.para {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.left-padding{
  padding-left:  0rem;
}

.section.d{
  text-align: center;
}

.links {text-align: center;}
.center-footer-header{
  text-align: center;
  font-size: 2.8rem;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}
}
