
*,{
  box-sizing: border-box;
}

body{
  margin-top: 50px;
}

.section{
  text-align: center;
  padding: 5rem 0 3rem;
}
.dark-background{
  background-color:#5D6268;
}

.medium-background{
  background-color: #EAEAEA;
}

p, li{
  text-align: left;
}

.light-background{
  background-color: #F7F7F2;
}

.width-adjustment{
  width: 80%;
  margin: 0 auto;
}
.image {
  max-width: 100%;
  margin: 0 auto;
}
.showcase-icon{
  position: relative;
  float: left;
  max-width: 25%;
  object-fit: fill;
}

.showcase-image{
  max-width: 100%;
  margin: 0 auto;
}


.showcase-title{
  float: left;
}

.section.header {
  padding: 2rem;
  text-align: center;
}

.header-icons {
  max-width: 20%;
}

.compAn-pic{
  position: relative;
  width: 100%;
}

.process-icon {
  position: relative;
  max-width: 15%;
}
