
*,{
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("/fonts/rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("/fonts/montserrat/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/montserrat/Montserrat-Medium.ttf");
}

a{
  text-transform: none;
}

html {
  font-size: 10px;
}

body{
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5{
  letter-spacing: normal;
}

h1 {
  font-family: "Rubik Regular";
  font-size: 6.4rem;
  color: #5D6268;
}

h2{
    font-family: "Rubik Regular";
    font-size: 6.4rem;
      color: #F7F7F2;
}

h2, h5{
  margin-bottom: 0;
}

h4{
  font-family: "Rubik Regular";
  font-size: 3.6rem;
  color: #5D6268;
  margin-bottom: 0 auto;
}

h5{
  font-family: "Montserrat Regular";
  font-size: 3.6rem;
    color: #F7F7F2;
}

h6{
  font-family: "Rubik Regular";
  font-size: 2.4rem;
  color: #5D6268;
  margin-bottom: 0 auto;
}

.showcase-summary{
  text-align: left;
  font-family: "Montserrat Regular";
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
  color: #302D38;
}

p {
  text-align: left;
  font-family: "Montserrat Regular";
  font-size: 1.6rem;
  color: #302D38;
}

br{
  margin-top: 5rem;
}

button{
  margin-top:3rem;
  text-transform: none;
}
.bold{
  font-size: 3rem;
}
.button{
  font-family:"Montserrat Medium";
  font-size: 1.6rem;
  font-weight: bold;
  color: #5D6268;
  text-transform: none;
}



/* Navagation */

.navbar {
  background-color: #5D6268;
  border: 1px solid #5D6268;
  color: #f2f2f2;
  font-size: 1.8rem;
  z-index: 999;
  position: sticky;
  top: 0
}

.main-nav {
  display: none;
  list-style-type: none;
}

.nav-links,
.logo {
  color: #f2f2f2;
  font-family: "Montserrat Regular";
  font-size: 2rem;
  text-decoration: none;
}

ul{
  margin-bottom: 0;
}

.main-nav li {
  color: #302D38;
  margin: 1.5rem auto;
  text-align: center;
}

a:hover {
  color: #302D38;
}

.hamburger-menu:hover{
  color: #302D38;
}

.logo {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 3rem;
}

.navbar-toggle {
  position: absolute;
  display: inline;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  color: #F2F2F2;
  font-size: 24px;
  position: absolute;
}

.active {
  display: block;
}


.process-sub-header{
  margin-bottom: 0;
}

.section{
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.colorLogo{
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 0rem;
}

.dark-background{
  background-color:#5D6268;
  padding-top: 10rem;
   padding-bottom: 10rem;
 }

 .blue-background{
   background-color: #D7E5F0;
 }


.medium-background{
  background-color: #EAEAEA;
}

.light-background{
  background-color: #F7F7F2;
}

.center{
  text-align: center;
  text-decoration: underline;
}
.width-adjustment{
  width: 75%;
  margin: 0 auto;
}

.image {
  width: 100%;
  margin: 0 auto;
}

.summaryImage{
  width: 100%;
  margin: 0;
  vertical-align: middle;
  text-align: center;

}

.solutionPic{
  width: 100%;
  margin: auto;
}

.showcase-button{
  float: left;
  margin-right: 2rem;
  margin-top: 0;
  text-decoration: none;
}


.showcase-icon{
  max-width: 40%;
  object-fit: fill;
  display: flex;
  flex:100%;
}

.bottom-line{
  padding-bottom: 5rem;
  border-bottom: 1px solid #5D6268;
}

.showcase-image{
  max-width: 100%;
  margin: 0 auto;
}


.showcase-title{
  display: flex;
  flex: 100%;
}

.summary-header{
  text-align: left;
  margin-bottom: 1rem;
}

.key-insight{
  margin-bottom: 3rem;
  font-family:"Montserrat Italic"
}

.candy-resize{
  max-width: 60%;
}


.header{
  margin-bottom: 0;
}


.header-icons {
  max-width: 20%;
}

.logo-design-icon{
  max-width: 15%;
}

.process-icon {
  max-width: 10%;
}

.connect-link{
  text-decoration: none;
  display: inline;
  font-size: 2.4rem;
  font-family: "Montserrat Regular";
  color:#5D6268;
  margin-right: 1rem;
}
/* hamburger menu */


@media (min-width:60rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 5rem;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .hamburger-menu{
    font-size: 3rem;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    width: 3rem;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #302D38;
  }
}

@media (max-width:60rem){
  h1{ font-size: 3.6rem;
  }
  h2{font-size: 3.6rem;

  }
  h4{ font-size: 2.4rem;
  }

  h5{ font-size: 2.4rem;}

  h6 {font-size: 1.8rem;}

  .dark-background{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .process-icon {
    max-width: 15%;
  }


  .width-adjustment{
    width: auto;
    margin: 0 auto;
  }

  .key-insight{
    font-size: 1.4rem;
    width: 90%;
    margin-bottom: 2%;
  }

  .connect-link{
    font-size: 1.8rem;
    margin-right: .5rem;
  }

  .showcase-summary{
    font-size: 1.8rem;
  }
}
