*,{
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("/fonts/rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("/fonts/montserrat/Montserrat-Italic.ttf");
}

/* General */

html {
  font-size: 10px;
  letter-spacing: normal;
}

body{
  background-color: #F7F7F2;
}

h2{
  font-family: "Rubik Regular";
  font-size:4.6rem;
  color: #5D6268;
}

h4{
  font-family: "Montserrat Italic";
  font-size: 3rem;
  color: #5D6268;
}

p {
  color: #5D6268;
  font-family: "Montserrat Regular";
  font-size: 1.8rem;
  line-height: 120%;
}

section{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.width-adjustment{
  width: 80%;
  margin: 0 auto;
}

/* Navagation */

.navbar {
  font-size: 18px;
  background-color: #5D6268;
  color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  z-index: 999;
  position: sticky;
  top: 0;

}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 2rem;
}

ul{
    margin-bottom: 0;
}

.nav-links{
  font-family: "Montserrat Regular"
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
    color: #302D38;
}

a:hover {
  color: #302D38;
}

.hamburger-menu:hover{
    color: #302D38;
}

.logo {
  display: inline-block;
  width: 3rem;
  margin-top: 1rem;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}


/* Showcase start */

.showcase{
  text-align: center;
}

.hero-image{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.intro {
  width: 66%;
  margin: 0 auto;
  text-align: center;
}

.chevron{
  font-size: 4rem;
  color: #5D6268;
  margin-top: 6rem;
}

.bottom-line{
  border-bottom: 1px solid #5D6268;
}


/* Projects */

.project-pic {
  width: 100%;
  object-fit: contain;
}

.project-number{
  width: 70%;
}

button {
  margin-right: 2rem;
}

.connect-link{
  text-decoration: none;
  display: inline;
  font-family: "Montserrat Regular";
  font-size: 2.4rem;
  color:#5D6268;
  margin-right: 1rem;
  text-align: left;
}

/* hamburger menu */

@media (min-width:60rem) {
.navbar {
   display: flex;
   justify-content: space-between;
   padding-bottom: 0;
   height: 70px;
   align-items: center;
 }

 .main-nav {
   display: flex;
   margin-right: 30px;
   flex-direction: row;
   justify-content: flex-end;
 }

 .hamburger-menu{
   font-size: 3rem;
 }

 .main-nav li {
   margin: 0;
 }

 .nav-links {
   margin-left: 40px;
 }

 .logo {
   margin-top: 0;
   width: 3rem;
 }

 .navbar-toggle {
   display: none;
 }

 .logo:hover,
 .nav-links:hover {
   color: #302D38;
 }
}

@media (max-width:70rem) {
/* Mobile grid

NEED HELP HERE!

  .grid-container{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
    'mobile-grid-project mobile-grid-pic'
    'mobile-grid-project mobile-grid-pic'

  }
  .mobile-grid-project{
    grid-area: mobile-grid-project;
  }

  .mobile-grid-pic{
    grid-area: mobile-grid-pic;
  }

*/

  h2{
    font-size:2.8rem;
  }

  h4{
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6rem;
  }
  .width-adjustment{
    width: 100%;
  }
  .project-number{
    width: 50%;
  }

.hero-image{
  width: 25%;
}

.connect-link{
font-size: 1.8rem;
}

section{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

}
