*,{
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("fonts/rubik/Rubik-Italic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("fonts/montserrat/Montserrat-Regular.ttf");
}


body{
  background-color: #f2f2f2;
  margin: auto;
  line-height: 3rem;
}

.dark-theme {
  background-color: #5D6268;
  color: #f2f2f2;

}

.menu {
  font-size: 3rem;
}

.topnav {
  background-color: #5D6268;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1.8rem;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: #5D6268;
}

.topnav .icon {
  display: none;
}


.logo {
  max-width: 5%;
  margin: 0 auto;
}

.nav-theme-icon {
  text-align: center;
  flex: 1;
}


p {
  color: #5D6268;
}


h4 {
  color: #302D38;
}

li {
  color: #5D6268;
}


.headers  {
  font-family: "Rubik Regular";
  font-size: 3.6rem;
}

.para {
  font-family: "Montserrat Regular";
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}


.container.bio, .container.tools {
  border-bottom: 1px solid #302D38;
}


.about-image {
  max-width: 100%;
  margin-top: 20%;
  filter: none;
}

.about-image.greyscale{
  filter: grayscale(1);
}


.indent {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}



li {

  display: inline;
  padding-right: 1rem;

}


.tools{
  text-align: left;
}

.left-padding{
  padding-left:  5rem;
}


@media (max-width:60rem) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}

.indent {
  width: 100%;
  margin-top: 10%;
  margin-bottom:10%;
}

.tools {
  text-align: center;
}

.headers { font-size: 2.4rem;
}

.para {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.left-padding{
  padding-left:  0rem;
}

.section.d{
  text-align: center;
}

.links {text-align: center;}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}
}
